/* 视窗>=1000时的样式表 */

@media (min-width: 1000px) {

    /* 公共样式 */
    html,
    body {
        font-size: 14px !important;
    }

    /* left: 432px;
    top: 398px;
    width: 576px;
    height: 101px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1); */
    /* ------------------------------主页样式开始----------------------------- */
    .home {
        max-width: 1440px;
        margin: 0 auto;
    }

    /* 头部 */
    .header-row {
        height: 52px;
        line-height: 52px;
        text-align: center;
        position: sticky;
        top: 0;
        background: white;
    }

    .header-row-left {
        padding-left: 31px;
    }

    .weather {
        padding-left: 24px;
    }

    .official-account {
        margin-right: 30px;
    }

    /* 登录按钮 */
    .setBtn {
        display: block !important;
    }

    .setMiniBtn {
        display: none;
        cursor: pointer
    }

    /* 主页中的图片 */
    .home-image {
        margin-top: 214px;
        height: 61px;
        width: 200px
    }

    /* logo中的图片 */
    .logo-image {
        margin: 0 auto;
        height: 200px;
        width: 250px
    }

    /* 搜索区域 */
    .search-area {
        max-height: 136px;
        max-width: 576px;
        margin: 34px auto;
        border: 1px solid rgba(187, 187, 187, 1);
    }

    .search-item {
        display: flex;
        padding: 16px 20px;
    }

    .form-control {
        width: 433px;
    }

    .search-item .btn-outline-secondary {
        margin-left: 22px;
        margin-top: 2px;
        width: 80px;
        height: 28px;
        line-height: 16px;
    }

    .area-history {
        padding-left: 25px;
    }

    .area-tabs span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .area-tabs {
        height: 28px;
    }

    /* 广告区域 */
    .home-add {
        display: block;
        position: absolute;
        right: 15px;
        top: 8px;
        z-index: 10;
    }

    .banner {
        margin: 15px auto;
        display: flex;
        position: inherit;
        justify-content: center;
        flex-flow: wrap;
        height: 418px;
        padding: 40px 45px;
        width: 95%;
        max-width: 1152px;
        border: 1px solid rgba(187, 187, 187, 1);
    }

    .carousel-inner,
    .carousel-item,
    .banner2 {
        height: 100%;
    }

    .banner2 img {
        height: 121px;
        width: 200px;
        max-height: 151px;
        max-width: 200px;
        margin: 15px 25px;
    }

    .home-image1 {
        display: block;
        width: 100%;
        margin: 10px;
    }

    .isShow-carousel {
        display: none
    }

    .setSwitch {
        padding: 10px;
        background: #dacfcf;
        border-radius: 5px;
    }

    .carousel-indicators li {
        background-color: #31302b;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    .carousel-indicators{
        bottom: -38px;
    }
    /* 地区区域 */
    .member-line {
        margin: 15px auto;
        width: 95%;
        max-width: 1152px;
        border: 1px solid rgba(187, 187, 187, 1);
    }

    .cityArea {
        display: flex;
        height: 28px;
    }

    .cityArea span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        border-bottom: 1px solid rgba(187, 187, 187, 1);
        border-right: 1px solid rgba(187, 187, 187, 1);
    }

    .company-item {
        width: 23%;
        height: 150px;
        background: white
    }

    .company-image {
        width: 100%;
        height: 75%;
        padding: 0 20px;
    }

    /* ------------------------------主页样式结束----------------------------- */

    /* ------------------------------登录页面开始----------------------------- */
    .homeModal {
        height: 250px;
    }

    .home-login-img {
        height: 200px;
    }

    /* ------------------------------登录页面结束----------------------------- */
    /* ------------------------------注册页面开始----------------------------- */
    #registerIframe{
        margin: 0 auto;
        max-width: 250px;
    }
    #registerIframe .form-control {
        width: 140px;
    }

    /* ------------------------------注册页面结束----------------------------- */
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .banner2 img {
        height: 123px;
        max-height: 168px;
        width: 173px;
        max-width: 192px;
        margin: 16px;
    }
}